@import service.gsn.UserProvider
@import ch.epfl.gsn.config.VsConf
@import ch.epfl.gsn.config.WebInputConf 
@import ch.epfl.gsn.config.WebInputCommand
@import ch.epfl.gsn.config.FieldConf
@import play.api.libs.json._
@import helper._
@(userProvider: UserProvider,vsConfs: Seq[VsConf])

@main(userProvider,"Upload Page") {
    <html>
  <head>
    <title>Upload Page</title>
  </head>
  <body>
    <h1>Upload Page for sensor specific commands and binary data</h1>
    <table class="table table-striped">
      <thead>
          <tr>
              <th>Name</th>
              <th>Upload</th>
          </tr>
      </thead>
      <tbody>
        @for(vsConf <- vsConfs) {
          <tr id="name">
            <td>@vsConf.name</td>
            <td>
              <button type="button" class="btn btn-primary uploadSensorCommandButton" data-vsconf="@Html(Json.stringify(Json.toJson(vsConf)).replace("\"", "&quot;"))">
                Upload
              </button>
              
            </td>
          </tr>
        }
      </tbody>
      
    </table>

    <div id="uploadCommandToVSModal" class="modal fade" role="dialog">
      <div class="modal-dialog custom-modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload VS Command</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" id="modalBody">
            <!-- Content will be dynamically generated here -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="submitForm">Submit</button>
          </div>
        </div>
      </div>
    </div>
  
  

  <script>
    
    var vsconf;

    $('.uploadSensorCommandButton').on('click', function () {
      // Get VsConf name and associated WebInputCommands
      vsconf = $(this).data('vsconf');
      console.log(vsconf)
      // Clear previous content
      $('#modalBody').empty();
      
      // Create select box for commands
      var commandSelect = '<select id="commandSelect" name="commandSelect">';
      vsconf.processing.webInput.commands.forEach(function(command) {
        commandSelect += '<option value="' + command.name + '">' + command.name + '</option>';
      });
      commandSelect += '</select>';
      
      $('#modalBody').append(commandSelect);
      
      // Listen for change in command select
      $('#commandSelect').on('change', function() {
        var selectedCommandName = $(this).val();
        var selectedCommand = vsconf.processing.webInput.commands.find(function(command) {
          return command.name === selectedCommandName;
        });
        
        // Clear previous params and regenerate
        $('#modalBody .paramSection').remove();
        
        selectedCommand.params.forEach(function(param) {
          var inputElement;
          
          // Check dataType and create appropriate input element
          if (param.dataType === "*text") {
            inputElement = '<input type="text" name="' + param.name + '" placeholder="' + param.name + '">';
          } else if (param.dataType.startsWith("*select")) {
            var options = param.dataType.split('|').slice(1).map(function(option) {
              var parts = option.split(',');
              return '<option value="' + parts[1] + '">' + parts[0] + '</option>';
            }).join('');
            
            inputElement = '<select name="' + param.name + '">' + options + '</select>';
          }
          
          var paramSection = $('<div class="paramSection"><label>' + param.name + '</label>' + inputElement + '</div>');
          $('#modalBody').append(paramSection);
        });
      });
      $('#commandSelect').trigger('change');
      $('#uploadCommandToVSModal').modal('show');
    });


    $('#submitForm').on('click', function() {
      var formData = {};
      $('#modalBody').find('input, select').each(function() {
        formData[$(this).attr('name')] = $(this).val();
      });

      formData['vsName'] = vsconf.name;

      console.log(formData);
      $('#uploadCommandToVSModal').modal('hide');

      $.ajax({
            type: 'POST',
            url: '@controllers.gsn.auth.routes.PermissionsController.uploadToSensor()',
            data: formData,
            success: function (data) {
                $('#addVirtualSensorModal').modal('hide');
            },
            error: function (error) {
                console.error(error);
            }
      });
    });
  </script>
  

  </body>
  </html>
}