body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

form .error input {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

form .error .help-inline {
    color: #B94A48;
}

.providers {
    margin: 5px 0;
    list-style: none;
}

.providers li {
    display: inline;
}

.help-block {
    margin: -10px 0 10px 0;
    font-size: 10px;
    color: #ccc !important;
}

h1 {
    margin-bottom: 20px !important;
}

.highlight {
    padding: 30px;
    margin-bottom: 14px;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
}

.custom-modal-dialog {
    max-width: 500px;
}

.modal-body {
    padding: 20px;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    margin: 0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.text-danger {
    color: #dc3545;
}
