[Unit]
Description=GSN Core Service
After=network.target

[Service]
Type=simple
User=gsn
Group=gsn
WorkingDirectory=/usr/share/gsn-core
ExecStart=/usr/share/gsn-core/bin/gsn-core /etc/gsn-core /etc/gsn-core/virtual-sensors-enabled
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
